#gamesTypography {
    font-weight: 500;
    margin-top: 50px;
}

#paginationContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.listContainer {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    .roomContainer {
        color: white;
        width: 400px;
        min-height: 50px;
        padding: 15px;
        border-radius: 1%;
        background-color: #0466c8;
        margin-bottom: 5px;
        &:nth-child(2n) {
            background-color: #4a94df;
        }
        a {
            color: white;
            text-decoration: none;
            font-weight: 500;
            &:hover {
                text-decoration: underline;
            }
        }
        .deleteButton {
            &:hover {
                background-color: #75b5f5;
                transition-duration: 0.2s;
            }
            .deleteIcon {
                color: white;
            }
        }
    }
}

.registerAndLoginForms {
    display: flex;
    justify-content: center;
    gap: 50px;
    h3 {
        margin-bottom: 40px;
    }
    .inputsContainer {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    button {
        margin-top: 20px;
    }
}